.HeaderBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--backgroundColor);
    backdrop-filter: blur(4px);
    z-index: 9999;
    transition: background-color 0.16s linear;
}
.Header{
    padding: 0 16px;
    margin:12px 0;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.Header>*{
    flex-shrink: 0;
}
.logo{
    display: block;
    height: 28px;
    width: 117px;
    background: url(../../public/nanven.svg) no-repeat;
    background-size: contain;
    margin-left: 0;
}
.logoWhite{
    background: url(../../public/nanven-white.svg) no-repeat;
    background-size: contain;
}
.none{
    display: none !important;
}



.menubtn{
    background: transparent;
    height: 28px;
    margin: 0 24px 0 8px;
    position: relative;
    width: 28px;
    cursor: pointer;
    outline: none;
    border: none;
}
.menuOpen .burgerTop,.menuOpen .burgerBot{
    top: 12.5px !important;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 28px;
}
.menuOpen .burgerMid{
    top: 12.5px !important;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    width: 28px;
}
.burgerTop{
    background-color: var(--secondary);
    height: 3px;
    position: absolute;
    width: 28px;

    -webkit-transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s,-webkit-transform .1s linear .1s;
    top: 3px;
    width: 16px;
}
.burgerMid{
    background-color: var(--secondary);
    height: 3px;
    position: absolute;
    width: 28px;

    -webkit-transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s,-webkit-transform .1s linear .1s;
    top: 12.5px;
}
.burgerBot{
    background-color: var(--secondary);
    height: 3px;
    position: absolute;
    width: 28px;

    -webkit-transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,-webkit-transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s;
    transition: top .1s,width .1s,transform .1s linear .1s,-webkit-transform .1s linear .1s;
    top: 22px;
    width: 23px;
}
.headerSpace{
    flex: 1;
    margin: 0 1rem;
}
.cutbar{
    height: 28px;
    width: 1px;
    background-color: var(--secondaryContainer);
    margin: 0 6px;
}
.headerBtn{
    display: flex;
    color: var(--secondary);
    background: transparent;
    height: 48px;
    width: 48px;
    margin: 0 4px;
    font-size: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}
.headerBtn:hover{
    background-color: var(--secondaryContainer);
}
.headerBtn:active{
    transform: scale(0.95);
}




@media screen and (max-width: 540px){
    .logo{
        background: url(../../public/nanven-small.png) no-repeat;
        background-size: contain;
        width: 28px;
    }
    .logo-white{
        background: url(../../public/nanven-small-white.png) no-repeat;
        background-size: contain;
        width: 28px;
    }
}