.imgSkeleton {
    width: 100%;
    background-color: var(--headerColor);
    animation-name: skeleton;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
}

@keyframes skeleton {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}