.title{
    margin:0px 8px 16px 8px;
    user-select: none;
}
.friendBox{
    margin-top: 24px;
}
.friendContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardBox{
    box-sizing: border-box;
    padding: 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 11px;
    width: 25%;
    transition: transform .1s;
}
.cardBox:hover{
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.12);
    transform: scale(1.04);
}
.icon{
    width: 52px;
    height: 52px;
    border-radius: 3px;
}
.detail{
    margin-left: 6px;
}
.name{
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #212121;
}
.description{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #636765;
}

@media screen and (max-width: 640px){
    .cardBox{
        width: 50%;
    }
}
@media (min-width:640px) and (max-width: 840px){
    .cardBox{
        width: 33.33%;
    }
}