.title {
    margin: 0px 8px 16px 8px;
    user-select: none;
}

.friendBox {
    padding: 0 32px;
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 64px;
}

.friendContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardBox {
    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
    border-radius: 16px;
    border: 2px solid #cccccc;
    cursor: default;
}


.icon {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.iconContainer{
    width: 52px;
    height: 52px;
    margin-right: 8px;
}

.detail {
    margin-left: 6px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #212121;
    font-size: 17px;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #636765;
}

@media screen and (max-width: 640px) {
    .cardBox {
        width: 50%;
    }
}

@media (min-width:640px) and (max-width: 840px) {
    .cardBox {
        width: 33.33%;
    }
}