.searchBox {
    position: relative;
    min-width: 0;
    max-width: 98px;
    margin: 0 8px;
    padding: 0 16px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    border-radius: 24px;
    color: var(--md-sys-color-on-surface);
    height: 48px;
    background-color: var(--md-sys-color-surface-container-high);
    transition: background-color .1s linear;
}


.searchBox:focus-within {
    border-radius: 24px 24px 14px 14px;
    max-width: 360px;
}

.searchBox:focus-within>.searchContainer {
    display: flex;
}

.searchInput {
    margin: 0 10px 0 8px;
    height: 24px;
    font-size: 18px;
    flex: 1;
    min-width: 0;
    border: none;
    background: transparent;
    color: var(--md-sys-color-on-secondary-container);
    outline: 0;
    border-bottom: 3px solid var(--md-sys-color-on-secondary-container);
}

.searchBox>svg {
    color: var(--md-sys-color-on-secondary-container);
}

.searchContainer {
    display: none;
    margin-top: 8px;
    position: absolute;
    flex-direction: column;
    top: 48px;
    left: 0;
    width: 100%;
    border-radius: 12px 12px 24px 24px;
    background-color: var(--md-sys-color-surface-container-high);
    box-shadow: 0 1.6px 4.8px 0.4px var(--md-sys-color-outline);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 40vh;
}
.searchPlaceholder{
    padding: 16px;
}
.searchItem{
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: default;
}
.searchItem:hover{
    background-color: var(--md-sys-color-secondary-container);
}
.searchTitle{
    color: var(--md-sys-color-on-surface);
    font-size: 15px;
}
.searchDescription{
    font-size: 12px;
    color: var(--md-sys-color-on-surface-variant);
}

@media screen and (max-width: 540px) {
    .searchBox:focus-within {
        position: fixed;
        top: 16px;
        left: 62px;
        min-width: calc(100vw - 84px);
        max-width: calc(100vw - 84px);
    }
}
@media screen and (min-width: 540px) {
    .searchBox:global(.active){
        max-width: 298px;
    }
}