.title {
    color: var(--md-sys-color-on-surface);
    margin: 0px 8px 16px 8px;
    user-select: none;
}

.friendBox {
    padding: 0 32px;
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 64px;
}

.friendContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardBox {
    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
    border-radius: 16px;
    border: 2px solid var(--md-sys-color-outline-variant);
    transition: all .2s ease-in-out;
}

.cardBox:hover {
    border-radius: 26px;
}

.cardBox:hover .icon {
    transform: translateX(5px);
}


.avater {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.avaterContainer {
    width: 52px;
    height: 52px;
    margin-right: 8px;
}

.detail {
    margin-left: 6px;
    flex: 1;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--md-sys-color-on-surface);
    font-size: 17px;
}

.icon {
    color: var(--md-sys-color-outline);
    min-height: 24px;
    min-width: 24px;
    font-size: 18px;
    transition: all .2s;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: var(--md-sys-color-outline);
}

@media screen and (max-width: 840px) {
    .cardBox {
        padding: 16px 16px;
    }

    .friendBox {
        padding: 0;
    }
}