html,body,div,p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.base{
    transition: background-color .2s;
    background-color: var(--backgroundColor);
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    min-height: 100vh;
}
.main{
    flex: 1;
    margin: 0px auto 0 auto;
    max-width: 940px;
    padding: 16px;
    position: relative;
    min-height: 100vh;
}

.lazyload-wrapper{
    display: flex;
}
.lazyload-wrapper>img{
    flex: 1;
}

.ActicleBody{
    margin-top: 16px;
}

@media screen and (max-width: 640px){
    .main{
        padding-left: 24px;
        padding-right: 24px;
    }
}