.light-theme {
    --md-sys-color-primary: #3c691b;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #accd90;
    --md-sys-color-on-primary-container: #0b2000;
    --md-sys-color-secondary: #56624b;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #dae7ca;
    --md-sys-color-on-secondary-container: #141e0c;
    --md-sys-color-tertiary: #386665;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #bbecea;
    --md-sys-color-on-tertiary-container: #002020;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-background: #fdfdf5;
    --md-sys-color-on-background: #1a1c18;
    --md-sys-color-surface: #fdfdf5;
    --md-sys-color-surface-container: #eeeee7;
    --md-sys-color-surface-container-high: #e9e9e1;
    --md-sys-color-on-surface: #1a1c18;
    --md-sys-color-surface-variant: #e0e4d6;
    --md-sys-color-on-surface-variant: #44483e;
    --md-sys-color-outline: #74796d;
    --md-sys-color-outline-variant: #c4c8bb;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-inverse-surface: #2f312c;
    --md-sys-color-inverse-on-surface: #f1f1ea;
    --md-sys-color-inverse-primary: #a1d57a;
}

.dark-theme {
    --md-sys-color-primary: #a1d57a;
    --md-sys-color-on-primary: #173800;
    --md-sys-color-primary-container: #255102;
    --md-sys-color-on-primary-container: #bcf293;
    --md-sys-color-secondary: #becbaf;
    --md-sys-color-on-secondary: #293420;
    --md-sys-color-secondary-container: #3f4a35;
    --md-sys-color-on-secondary-container: #dae7ca;
    --md-sys-color-tertiary: #a0cfce;
    --md-sys-color-on-tertiary: #003737;
    --md-sys-color-tertiary-container: #1e4e4d;
    --md-sys-color-on-tertiary-container: #bbecea;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffb4ab;
    --md-sys-color-background: #1a1c18;
    --md-sys-color-on-background: #e3e3dc;
    --md-sys-color-surface: #1a1c18;
    --md-sys-color-surface-container: #1e201c;
    --md-sys-color-surface-container-high: #343531;
    --md-sys-color-on-surface: #e3e3dc;
    --md-sys-color-surface-variant: #44483e;
    --md-sys-color-on-surface-variant: #c4c8bb;
    --md-sys-color-outline: #8e9286;
    --md-sys-color-outline-variant: #44483e;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-inverse-surface: #e3e3dc;
    --md-sys-color-inverse-on-surface: #2f312c;
    --md-sys-color-inverse-primary: #3c691b;
}

html,
body,
div,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto_Sans_SC", "myRoboto";
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.base {
    transition: background-color .2s;
    background-color: var(--md-sys-color-surface);
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.lazyload-wrapper {
    display: flex;
}

.lazyload-wrapper>img {
    flex: 1;
}

.ActicleBody {
    margin-top: 16px;
    width: 100%;
}

.useDarkFilter {
    filter: brightness(var(--useDarkFilter));
}

@media screen and (max-width: 840px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }
}