.homeBase {
    padding: 0 32px;
    margin: 0 auto;
    flex: 1;
    max-width: 1200px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.homeTitleContainer {
    position: sticky;
    top: 76px;
    left: 0;
    width: 100%;
    z-index: 998;
    box-sizing: border-box;
    background-color: var(--md-sys-color-surface);
    border-radius: 0 0 40px 40px;
    padding-bottom: 0;
    transition: all .2s;
}

.homeTitle {
    cursor: pointer;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    user-select: none;
    border-radius: 56px;
    border: 1px solid var(--md-sys-color-primary);
    font-size: 20px;
    color: var(--md-sys-color-on-secondary-container);
    background-color: var(--md-sys-color-secondary-container);
    margin: 4px 0 0 0;
    transition: box-shadow .22s ease-in-out;
}

.homeTitle:hover {
    box-shadow: 0 0.5px 1.8px 0.3px var(--md-sys-color-primary);
}

.homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.acticleContainer {
    box-sizing: border-box;
    margin-top: 128px;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.acticleContainer:nth-child(1) {
    margin-top: 24px;
    min-width: 100%;
    flex-basis: 100%;
}

.acticleContainer:nth-child(1) .acticle {
    width: 100%;
    min-height: 42vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 48px 32px;
    border-radius: 32px;
    border: 2px solid var(--md-sys-color-outline-variant);
    gap: 32px;
}

.acticleContainer:nth-child(1) .acticleHeader {
    flex-basis: 40%;
    min-width: 300px;
}

.acticleContainer:nth-child(1) .acticleImage {
    padding-bottom: 0;
    flex: 1;
}

.acticleContainer:nth-child(1) .title {
    font-size: 52px;
    line-height: 64px;
}

.acticleContainer:nth-child(1) .classification {
    display: none;
}

.acticleContainer:nth-child(4n+2),
.acticleContainer:nth-child(4n+3) {
    padding-right: 128px;
}

.acticleContainer:nth-child(4n+4),
.acticleContainer:nth-child(4n+5) {
    padding-left: 128px;
}


.acticle:hover .acticleImage {
    border-radius: 32px;
}

.acticle {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.acticleHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.descriptionContainer {
    display: flex;
}

.titleContainer {
    color: var(--md-sys-color-on-surface);
    margin-bottom: 28px;
}

.title {
    display: inline;
    font-size: 32px;
    font-weight: 300;
    background: linear-gradient(to right, var(--md-sys-color-primary), var(--md-sys-color-primary))no-repeat left bottom;
    background-size: 0 4px;
    transition: background-size .6s;
}

.acticle:hover .title {
    background-size: 100% 4px;
}

.date {
    display: inline;
    color: var(--md-sys-color-on-surface);
    font-size: 16px;
    margin-right: 24px;
    white-space: nowrap;
}

.description {
    color: var(--md-sys-color-on-surface-variant);
    font-weight: 300;
}

.acticleImage {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    transition: all .3s;
    background-size: cover;
    max-height: 512px;
}

.classification {
    display: inline-block;
    border-radius: 8px;
    padding: 3px 6px;
    margin-left: 4px;
    color: var(--md-sys-color-on-surface-variant);
    font-size: 13px;
    align-self: baseline;
    border: 1px solid var(--md-sys-color-outline-variant);
}


@media screen and (max-width: 1200px) {

    .acticleContainer {
        flex-basis: 100%;
        padding: 0 !important;
        margin-top: 32px;
    }

    .acticleContainer:nth-child(1) .acticle,
    .acticleContainer .acticle {
        min-height: 0;
        box-sizing: border-box;
        flex-direction: row;
        padding: 32px 8px 16px 8px;
        border-radius: 0px;
        border: 2px solid transparent;
        border-top: 2px solid var(--md-sys-color-outline-variant);
        flex-direction: column;
        gap: 0;
    }

    .acticleContainer:nth-child(1) .acticle {
        border-top: 2px solid transparent;
    }

    .acticleContainer:nth-child(1) .acticleImage {
        flex: 1;
    }

    .acticleContainer:nth-child(1) .title {
        font-size: 32px;
        line-height: 38px;
    }

    .titleContainer {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 840px) {
    .homeBase{
        padding: 0;
    }
}